{% load static %}

<div class="jumbotron text-center rounded-0 my-0">
<h3 class="display-4"><a class="text-dark" href="/">T.D.Miller Analytics</a></h3>
</div>

<nav class="sticky-top container-fluid bg-white border border-right-0 border-left-0 shadow-sm">
  <div class="container ml-auto">
  <ul class="nav justify-content-end">
<!---    <li class="nav-item"><a class="nav-link px-1" href="#"><img src="{% static 'gmail-icon.png' %}" alt="email" /></a></li> --->
    <li class="nav-item"><a class="nav-link px-1" href="https://www.linkedin.com/in/tylerdmiller"><img src="{% static 'linkedin-icon-1.png' %}" alt="Linkedin" /></a></li>
    <li class="nav-item"><a class="nav-link px-1" href="https://github.com/T-D-Miller"><img src="{% static 'github-icon-2.png' %}" alt="github" /></a></li>
  </ul>
  </div>
</nav>
